/* Fonts */
body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

/* Colors */
body {
  background-color: #f5f5f5;
  color: #3d3d3d;
}

header {
  background-color: #6c63ff;
  color: #fff;
}

a {
  color: #6c63ff;
}

a:hover {
  color: #8983f7;
}

/* Sections */
section {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Typography */
h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

/* Icons */
.bi {
  margin-right: 10px;
}

/* Animations */
a,
button {
  transition: all 0.3s ease;
}

button:hover {
  transform: translateY(-2px);
}

/* Responsiveness */
@media (max-width: 768px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 26px;
  }
}

/* Hover effect on sections */
section:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Transition on links and buttons */
a,
button {
  transition: all 0.3s ease;
}

a:hover,
button:hover {
  transform: translateY(-2px);
  /* Add any additional styles you want on hover, for example, changing color */
}

/* Example: Changing color on hover for links */
a:hover {
  color: #8983f7;
}